:root {
  --dona-light-blue: #008ffd;
  --popper-theme-background-color: #000;
  --popper-theme-text-color: #fff;
  --popper-theme-padding: 0.5rem;
  --popper-theme-border-radius: 6px;
  --popper-theme-background-color-hover: #000;
}

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}

.pop {
  font-size: 0.75rem;
}
